/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");


*{
    margin:0;
    padding:0;
    /* box-sizing:border-box; */
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
}
#wrapper1{
    height:100vh;
    overflow-y:auto;
    overflow-x: hidden;
}


.section{
    position:relative;
    /* display:flex; */
    justify-content: center;
    align-items: center;
    gap: 5rem;
    /* margin: 4rem auto; */
    padding: 0 1rem; 
    padding-bottom: 9rem; 
}
.left{
    /* width:100%; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 2rem;
    padding-left: 50px;
}
.heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
    line-height: 40px;
}



.sub-h{
    font-size: 45px;
    line-height: 45px;
}
.role{
    color: #4e45d5;
    font-weight: 800;
}

.btn{
    position: absolute;
    /* top: 70%;
    left: 11%; */
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding-left: 90px;
  }
  
.btn-a{
    display: block;
        width: 250px;
        height: 50px;
        line-height: 50px;
        font-weight: bold;
        text-decoration: none;
        background: #333;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 3px solid #333;
        transition: all .35s;
      
}
.icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #2ecc71;
    transition: all .35s;
  }
  
  .btn-a:hover{
    width: 200px;
    border: 3px solid #2ecc71;
    background: transparent;
    color: #2ecc71;
  }
  
  .btn-a:hover + .icon{
    border: 3px solid #2ecc71;
    right: -25%;
  }

.right{
    position:relative;
}


.user-image{
    padding:3rem;
    
    height: 470px;
    width: 470px;
    /* filter:grayscale(1); */
    transition:all 1s;
    animation: scaleImage 5s linear infinite;
}

    


.user-image img{
    z-index:-9;
    padding: 30px;
    box-shadow: 3px 3px 20px black;
    
  }
  .faded-text{
    position:absolute;
    user-select:none;
    font-size: 7em;
    color:white;
    
    /* bottom: -16%;
    left: -5%; */
    font-weight: bold;
    transition: all 3s;
}


#wrapper3{
    overflow-y:auto;
    overflow-x: hidden;
}


.head{
    font-size: 45px;
    line-height: 45px;
    color:#4e45d5;
}
.project-card{
    width:90%;
    height:500px;
    background-image: url(./images/projects/Project1.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    position:relative;
    box-shadow:0px 0px 40px #1f1f1f;
  }

  .project-card::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #1f1f1f9a;
    z-index:0;
    /* transform: scaleX(1); */
  }
  .project-card::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform:scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index:1;
  }

  .project-card:hover::before{
    transform:scaleX(1);
  }
  .project-number{
    position:absolute;
    font-size:200px;
    font-weight:600;
    color:white;
    z-index:10;
    /* display:none; */
    opacity: 0;
  }

  .project-card:hover .project-number{
    /* display:block; */
    opacity: 1;
  }

  .project-number-right{
    right:-40px;
    top:-45px;
  }

  .project-number-left{
    left:-40px;
    top:-45px;
  }
  .project-content{
    position:absolute;
    display:flex;
    flex-direction:column;
    color:white;
    padding:2em;
    bottom:20%;
    z-index:5;
    gap:1em;
    transition:all 0.4s;
  }


  .project-content-left{ 
    left:10%;
  }

  .project-content-right{ 
    right:10%;
  }

  #project1{
    background-image: url(./images/ACPage.png);
  }
  #project2{
    margin-left:120px;
    background-image: url(./images/tictactoe.png);
  }
  #project3{
    background-image: url(./images/weatherapp.png);
  }
  #project4{
    margin-left:120px;
    background-image: url(./images/Pgenerator.png);
  }
  #project2 {
    margin-left: 0;
  }
  #project4 {
    margin-left: 0;
  }

  @media (max-width:1300px) {
    .page-header {
      padding-top: 30px;
      color: var(--bgOrange);
      text-align: center;
      font-size: 40px;
    }
    .project-container {
      padding: 5px;
      margin: 10px;
      gap: 60px;
    }
    .project-card {
      width: 100%;
      height: 300px;
    }
    .project-card {
      background-size: cover;
      background-position: center;
    }
    .project-content {
      scale: 0.5;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
    .project-content-left {
      left: 0;
    }
    .project-heading {
      font-size: 40px;
      width: 100%;
    }
    .project-sub-heading {
      width: 100%;
    }
    #project2 {
      margin-left: 0;
    }
    #project4 {
      margin-left: 0;
    }
    .project-skill-container {
      width: 100%;
    }
    .project-skill {
      width: 35px;
    }
    .project-card:hover .project-number {
      display: none;
    }
    .project-card:hover .project-content {
      scale: 0.55;
    }
  }



  .project-skills-container{
    width:500px;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
  
  }

  .project-skill{
    width:40px;
  }

  .project-heading{
    font-size:50px;
    font-weight: bold;
    line-height:3rem;
  }
  
  .project-subHeading{
    font-size:16px;
    font-style: italic;
  }
  .btn-grp{
    display:flex;
    gap:0.9rem;
    align-items:center;
  }

  .btn-project:hover{
    border:none;
  }

  .icon{
    cursor:pointer;
    color:white;
    font-size:35px;
    transition:all 0.4s;
  }

  .icon:hover{
    color:var(--bgOrange);
  }

  .project-card:hover .project-content{
    transform:scale(1.1);
  }
  #project1{
    background-image: url(./images/ACPage.png);
  }




.skill-container-left{
  width:50%;
  display:flex;
  flex-direction:column;
}
.skill-container-right{
    display:flex;
    flex-wrap:wrap;
    width:400px;
    height:500px;
    gap:5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position:relative;
    align-items: center;
    justify-content: center;
  }
  
  
  .skills-logo{
    width:50px;
    height: 50px;
    transition:all 0.5s;
  }
  
  .skills-logo:hover{
    transform:scale(2);
  }
  .skill-heading{
    font-size:50px;
    font-style: bold;
    color: var(--bgOrange);
    line-height: 50px;
  }
  
  .caps{
    font-size:90px;
  }
  
  .skill-subHeading{
    margin-top: 1rem;
    width:85%;
    text-align: justify;
  }
  
  .skill-subHeading p{
    margin:15px 0;
  }
  .contact-container{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }
  .ico{
    cursor:pointer;
    color:white;
    font-size:35px;
    transition:all 0.4s;
  }

  
  .atag{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  .s{
    position: relative;
    z-index: 2;
  }
  
  .atag:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:black;
    transition: all .35s;
    border: 4px greenyellow;  
  }
  
  .atag:hover{
    color: #fff;
  }
  
  .atag:hover:after{
    width: 100%;
  }
  
